--index-url https://packagefeedproxy.microsoft.io/pypi/simple/

numpy
matplotlib
scipy
pytest
pytest-timeout
pyyaml
numba
lupa
pyvista
imageio
imageio-ffmpeg
pymavlink
pyserial
pexpect
empy==3.3.4
dynbem==0.8.0
